<h3><%= "ニックネーム" %></h3>
<p><%= @user.nickname %></p>
<h3><%= "メールアドレス" %></h3>
<p><%= @user.email %></p>
<h3><%= "苗字" %></h3>
<p><%= @user.last_name %></p>
<h3><%= "名前" %></h3>
<p><%= @user.first_name %></p>
<h3><%= "生年月日" %></h3>
<p><%= @user.birthday %></p>
 <%=link_to 'もどる', root_path, class:"back-btn" %>